<div class="container">
    <div>
        Uppercase of 'satish': {{'satish' | uppercase}}
    </div>
    <div>
        Lowercase of 'SATISH' : {{'SATISH' | lowercase}}
    </div>
    <div>
        Titlecase of 'satish konduru' : {{'satish konduru' | titlecase}}
    </div>
    <div>
        emp object into JSON : {{ emp | json}}
    </div>
    <div>
        1234 number into decimal : {{ 1234 | number: '1.2'}}
    </div>
    <div>
        1234.56 number into decimal : {{ 1234.56 | number}}
    </div>
    <div>
        1234.567 number into decimal : {{ 1234.567 | number : '3.1-2' }}
    </div>
    <div>
        0.67 number into percentage : {{ 0.67 | percent }}
    </div>
    <div>
        Date  : {{ todayDate | date }}
    </div>
    <div>
        Date in dd/MM/YYYY  : {{ todayDate | date:'dd/MM/YYYY' }}
    </div>
    <div>
        Date in MM/dd/YYYY  : {{ todayDate | date:'MM/dd/YYYY' }}
    </div>
    <div>
        Short Date  : {{ todayDate | date: 'short' }}
    </div>
    <div>
        Short Date without Time  : {{ todayDate | date: 'shortDate' }}
    </div>
    <div>
        Medium Date  : {{ todayDate | date: 'medium' }}
    </div>
    <div>
        Medium Date without Time  : {{ todayDate | date: 'mediumDate' }}
    </div>
    <div>
        Long Date  : {{ todayDate | date: 'long' }}
    </div>
    <div>
        Long Date without Time  : {{ todayDate | date: 'longDate' }}
    </div>
    <div>
        Full Date  : {{ todayDate | date: 'full' }}
    </div>
    <div>
        Full Date without Time  : {{ todayDate | date: 'fullDate' }}
    </div>
    <div>
        Short Time  : {{ todayDate | date :'shortTime' }}
    </div>
    <div>
        Medium Time  : {{ todayDate | date :'mediumTime' }}
    </div>
    <div>
        Long Time  : {{ todayDate | date :'longTime' }}
    </div>
    <div>
        Full Time  : {{ todayDate | date :'fullTime' }}
    </div>
    <div>
        25000 in Currency  : {{ 25000 | currency }}
    </div>
    <div>
        25000 in Indian Currency  : {{ 25000 | currency:'INR' }}
    </div>
    
    
</div>
