<div style="display: flex; justify-content: center;">
    <p style="font-size: 25px; color:brown;">&#64; switch {{ '{ } @case {}' }} </p>
</div>

<div style="display: flex; justify-content: center;">
   @switch (color) {
    @case('blue'){
        <div style="color: blue">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Non optio eos doloribus soluta facere veritatis facilis ut neque, fugit dolor beatae aut quasi quas eius id voluptates. Velit, architecto pariatur.
        </div>
    }
    @case('red'){
       <div style="color: red">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Non optio eos doloribus soluta facere veritatis facilis ut neque, fugit dolor beatae aut quasi quas eius id voluptates. Velit, architecto pariatu r.
        </div>
    }
    @default {
        <div style="color: orange">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non optio eos doloribus soluta facere veritatis facilis ut neque, fugit dolor beatae aut quasi quas eius id voluptates. Velit, architecto pariatu r.
                    </div>
    }
   }
</div>
