<!-- <div class="container-fluid">
    <section id="aboutus">
        <app-aboutus></app-aboutus>
    </section>
    <section id="services">
        <app-services></app-services>
    </section>
    <section id="products">
        <app-products></app-products>
    </section>
    <section id="careers">
        <app-careers></app-careers>
    </section>
    <section id="contactus">
        <app-contactus></app-contactus>
    </section>
</div>
 -->
<!-- <div class="container">
    <div class="mt-3">
        <mat-form-field appearance="outline">
            <mat-label>Enter</mat-label>
          <input matInput #input placeholder="Enter anything...">
        </mat-form-field>
    </div>
    <div>
        <button mat-stroked-button (click)="onClick(input.value)">Click me</button>
    </div>
    <app-demo [message]="inputValue"></app-demo>
   
</div> -->

<!-- <div class="container">
    <h4>Home Component</h4>
    <mat-form-field appearance="outline">
        <mat-label>Enter </mat-label>
        <input matInput #input>
    </mat-form-field>
    <button mat-stroked-button (click)="onClick(input.value)">Click Me</button>
    @if(check < 5){
        <app-demo>
            <h3>Demo component: This is projected from Home component</h3>
            <h4>Input Value: {{myInputValue}}</h4>
            <p #para>This is Paragraph 2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ea rerum qui delectus nesciunt labore dignissimos repudiandae commodi maiores! Dolorem voluptatem eos vel debitis exercitationem alias. Ipsam aliquid repellat corrupti?</p>
        </app-demo>
    }
   
</div> -->
<!-- <div style="margin: 20px auto; width: 780px;">
    <div class="home-component">
        <h2>Home Component</h2>
        <p>This is <b>Home</b> Component</p>
        <button>Button</button>
    </div>
    <div class="component-container">
        <app-comp1></app-comp1>
        <app-comp2></app-comp2>
    </div>
</div> -->
<!-- <div class="container mt-3">
    <div class="col-6 mx-auto text-center"> -->
        <!-- <h4>Counter: {{counter().join(', ')}} </h4>  -->
         <!-- <h4>10x : {{tenXCounter()}}</h4>
         <h4>100x : {{hundredXCounter()}}</h4>
    </div>
    <div class="mt-3 text-center">
        <button mat-mini-fab (click)="increment()"><mat-icon>add</mat-icon></button>
        <button mat-mini-fab (click)="decrement()"><mat-icon>remove</mat-icon></button>
        <button mat-mini-fab (click)="append()"><mat-icon>playlist_add</mat-icon></button>
        <button mat-mini-fab (click)="remove()"><mat-icon>playlist_remove</mat-icon></button>
    </div>
</div>
<app-signals></app-signals> -->
<!-- <app-ng-template></app-ng-template> -->
 <app-ng-container></app-ng-container>