<app-header></app-header>
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-temp-ref-variables></app-temp-ref-variables>
<app-two-way-data-binding></app-two-way-data-binding> -->
<!-- <app-if></app-if> -->
<!-- <app-switch></app-switch> -->
<!-- <app-for></app-for> -->
<!-- <app-sender></app-sender> -->
<!-- <app-view-child></app-view-child> -->
<!-- <app-parent></app-parent> -->
<!-- <app-content-parent>
    <app-content-child data ="This is Projecting Data"></app-content-child>
    <app-content-child content="Hello, World!"></app-content-child>
    <app-content-child content="Angular is awesome!"></app-content-child>
    <app-content-child content="Content projection is powerful!"></app-content-child>
</app-content-parent> -->

<!-- <app-content-parent>
    <app-content-child>
        <div header>Header Content</div>
        <p>Main Content : Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, nihil dignissimos non consequuntur illum similique quia sed. Recusandae harum culpa repellendus excepturi quia numquam. Autem voluptatum porro molestias tempora expedita.</p>
        <div footer>Footer Content</div>
    </app-content-child>
</app-content-parent> -->